h3 {
    margin-top:0px !important;
}

.section {
    padding-bottom: 20px;
}

.btnclass>div{
    display: inline;
}

.card-body{
    font-size: inherit;
}

#product-img{
    max-width: 100%;
}

.product-details {
    margin-top: 50px;
    margin-bottom: 50px;
}